.container {
    display: flex;
  }
  
  .movies-menu {
    flex: 1;
  }
  
  .movie-details {
    flex: 2;
    display: flex;
    align-items: center;
  }
  
  #movie-poster {
    width: 300px;
    height: 400px;
    background-color: lightgray;
  }
  
  #movie-info {
    margin-left: 20px;
  }
  
  .sold-out {
    color: red;
  }
  
  /* Add any additional styling as needed */
  